<footer>
  &copy; 2019 Matjaž Drolc &nbsp; <a href="mailto:matjaz@invoicr.app">matjaz@invoicr.app</a> &nbsp; <a href="https://matjazdrolc.eu">matjazdrolc.eu</a> &nbsp; <a href="https://drola.si">drola.si</a><br>
  <a [routerLink]="['privacy-policy']">Privacy policy</a>
</footer>