<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">Invoicr</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Preview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="downloadPdf()">Download PDF</a>
      </li>
    </ul>
  </div>
</nav>