<div class="page">
  <h1>Privacy policy</h1>

  This Policy describes the information we collect from you, how we use that
  information and our legal basis for doing so. It also covers whether and how
  that information may be shared and your rights and choices regarding the
  information you provide to us. This Privacy Policy applies to the information
  that we obtain through your use of Invoicr, including all invoicr.app
  subdomains.
  <br>
  <br>
  <h2>Who we are</h2>
  Invoicr is an app developed by Matjaž Drolc, s.p. from Slovenia. If you have
  any questions, please contact
  <a href="mailto:matjaz@matjazdrolc.eu">matjaz@matjazdrolc.eu</a>.<br />
  <br />
  <b>Data from your invoices will never be sold to anyone.</b>
  <br>
  <br>
  <h2>What We Collect and Receive</h2>
  <ul>
    <li>
      When you <b>conact us via email</b>, we will collect your name, email
      address, subject and message. This data is used in connection with
      answering any queries we receive.
    </li>
    <li>
      We collect <b>usage data</b>. This includes anonymized IP address, date
      and duration of your visit, the website and search query that referred you
      to this site, information about your device (device type, operating
      system, browser type, screen resolution, language, country). This data is
      used to improve our site and to recognize and stop any misuse.
    </li>
    <li>
      <b>Cookies</b> — we use cookies (small data files transferred onto
      computers or devices by sites) for record-keeping purposes and to enhance
      functionality on our site. You may deactivate or restrict the transmission
      of cookies by changing the settings of your web browser. Cookies that are
      already stored may be deleted at any time.
    </li>
  </ul>
  <br>
  <h2>Your rights</h2>
  You have the right to be informed of Personal Data processed by Invoicr, a
  right to rectification/correction, erasure and restriction of processing. You
  also have the right to ask from us a structured, common and machine-readable
  format of Personal Data you provided to us. We can only identify you via your
  email address and we can only adhere to your request and provide information
  if we have Personal Data about you through you having made contact with us
  directly and/or you using our site and/or service. To exercise any of the
  rights mentioned in this Privacy Policy and/or in the event of questions or
  comments relating to the use of Personal Data you may contact us:
  <a href="mailto:matjaz@matjazdrolc.eu">matjaz@matjazdrolc.eu</a>. In addition,
  you have the right to lodge a complaint with the data protection authority in
  your jurisdiction.
  <br>
  <br>
  <h2>Third party services we use</h2>
  When you visit our websites, or purchase products or services, we use the
  following third party services which may collect personal data:
  <table class="table">
    <thead>
      <th>Recipient</th>
      <th>Purpose of processing</th>
      <th>Lawful basis</th>
      <th>Data location and security</th>
      <th>Personal data collected by the third party</th>
      <th>Privacy policy</th>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://matomo.org">Matomo</a></td>
        <td>
          To collect and analyse information about how you interact with our
          websites (web analytics), and to recognize and stop any misuse
        </td>
        <td>Legitimate interest</td>
        <td>France</td>
        <td>
          Anonymised IP address, Pages visited, browser and device used, and
          <a href="https://matomo.org/faq/general/faq_18254/">more</a>.
        </td>
        <td><a href="https://matomo.org/privacy-policy/">link</a></td>
      </tr>

      <tr>
        <td><a href="https://www.drip.com/">Drip</a></td>
        <td>
          To manage list of recipients of our newsletter and send emails after
          you sign up.
        </td>
        <td>Explicit consent</td>
        <td>USA</td>
        <td>Email, IP, time zone, visited page</td>
        <td><a href="https://www.drip.com/privacy">link</a></td>
      </tr>

      <tr>
        <td><a href="https://www.microsoft.com">Microsoft</a></td>
        <td>To host our email</td>
        <td>Legitimate interest</td>
        <td>Worldwide</td>
        <td>Received and sent emails</td>
        <td>
          <a
            href="https://products.office.com/en-us/business/office-365-trust-center-privacy"
            >link</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <h2>Retention of data</h2>
  We will retain your information as long as your account is active, as
  necessary to provide you with the services or as otherwise set forth in this
  Policy. We will also retain and use this information as necessary for the
  purposes set out in this Policy and to the extent necessary to comply with our
  legal obligations, resolve disputes, enforce our agreements and protect
  Invoicr's legal rights. We also collect and maintain aggregated, anonymized or
  pseudonymized information which we may retain indefinitely to protect the
  safety and security of our Site, improve our Services or comply with legal
  obligations.
  <br>
  <br>

  <h2>Privacy policy changes</h2>
  We may update this Policy from time to time. If we do, we’ll let you know
  about any material changes, either by notifying you on the website or by
  sending you an email.
  <br>
  <br>
  <h2>Contact us</h2>
  E-mail: <a href="mailto:matjaz@matjazdrolc.eu">matjaz@matjazdrolc.eu</a>
  <br>
  <br>
  <h2>Reusing this Privacy Policy</h2>
  Before reading further, please, note that none of our team members are lawyers
  and do not provide legal or business advice. You are welcome to reuse and be
  inspired by this Privacy Policy (published under license
  <a href="https://creativecommons.org/licenses/by/4.0/">CC BY</a>) after making
  sure it complies with the way your website tracks, uses and discloses users
  information. The accuracy, completeness, adequacy of this privacy policy
  cannot be warranted or guaranteed. Please use it at your own risk. This
  Privacy Policy is based on
  <a href="https://matomo.org/privacy-policy/">Privacy Policy by Matomo</a>.
</div>
