<div class="page scheme-blue">
  <div class="header">
    <div class="header-right">
      <br>
      VAT ID: <app-editable-text key="contractor_vat_id"></app-editable-text><br>
      WWW: <app-editable-text key="contractor_www"></app-editable-text><br>
      E-mail: <app-editable-text key="contractor_email"></app-editable-text>
    </div>

    <b><app-editable-text key="contractor_name"></app-editable-text></b><br>
    <app-editable-text key="contractor_address_line_1"></app-editable-text><br>
    <app-editable-text key="contractor_address_line_2"></app-editable-text><br>
    <app-editable-text key="contractor_address_line_3"></app-editable-text>
  </div>

  <div class="invoice-info text-right">
    <h3><app-editable-text key="invoice_info_nr"></app-editable-text></h3>
    Invoice issued: <app-editable-text key="invoice_info_issued_date"></app-editable-text><br>
    Invoice due: <app-editable-text key="invoice_info_due_date"></app-editable-text><br>
    Services rendered: <app-editable-text key="invoice_info_services_rendered_date"></app-editable-text><br>
  </div>

  <div class="client-info">
    <b><app-editable-text key="client_name"></app-editable-text></b><br>
    <app-editable-text key="client_address_line_1"></app-editable-text><br>
    <app-editable-text key="client_address_line_2"></app-editable-text><br>
    <app-editable-text key="client_address_line_3"></app-editable-text><br>
    <br>
    VAT ID: <app-editable-text key="client_vat_id"></app-editable-text>
  </div>
  <div style="clear: both;"></div>
  <table class="items-table table">
    <thead>
      <tr>
        <th>Item description</th>
        <th class="text-center">Unit price</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr>
        <td><app-editable-text value="Software development"></app-editable-text></td>
        <td class="text-right"><app-editable-text value="2.893,40 EUR"></app-editable-text></td>
        <td class="text-center"><app-editable-text value="1"></app-editable-text></td>
        <td class="text-right"><app-editable-text value="2.893,40 EUR"></app-editable-text></td>
      </tr>
      <tr>
        <td><app-editable-text value="Software development"></app-editable-text></td>
        <td class="text-right"><app-editable-text value="2.893,40 EUR"></app-editable-text></td>
        <td class="text-center"><app-editable-text value="1"></app-editable-text></td>
        <td class="text-right"><app-editable-text value="2.893,40 EUR"></app-editable-text></td>
      </tr>
    </tbody>
  </table>

  <div class="totals">
    <table class="table float-right" style="width: 30%">
      <tbody>
        <tr>
          <td class="text-right">Subtotal</td>
          <td class="text-right"><app-editable-text key="totals_subtotal"></app-editable-text></td>
        </tr>
        <tr>
          <td class="text-right">VAT</td>
          <td class="text-right"><app-editable-text key="totals_vat"></app-editable-text></td>
        </tr>
        <tr>
          <td class="text-right"><b>Total</b></td>
          <td class="text-right"><b><app-editable-text key="totals_total"></app-editable-text></b></td>
        </tr>
      </tbody>
    </table>
    <div style="padding: 15mm; padding-top: 3mm;">
      Services subject to the reverse charge - VAT to be accounted for by the recipient as per Article 196 of Council
      Directive 2006/112/EC.
    </div>
    <div style="clear: both"></div>
  </div>

  <div class="footer">
    <div class="signature text-right">
      <b><app-editable-text key="footer_signature"></app-editable-text></b>
      <br><br>
    </div>
    <h5>Payment method</h5>
    <app-editable-text key="footer_payment_method"></app-editable-text>
    <br><br>
    <h4><app-editable-text key="footer_ending_line"></app-editable-text></h4>
  </div>
</div>