.scheme-olive-green {
  .page,
  .page table {
    color: rgb(24, 24, 24);
  }

  .header {
    background: rgb(48, 48, 48);
    color: white;
  }

  .items-table thead {
    background: rgb(71, 100, 71) !important;
    color: white;
  }
  .totals {
    background-color: #808a9f;
  }
  .footer h4 {
    color: rgb(87, 122, 87);
  }
}

.scheme-blue {
  .page,
  .page table {
    color: rgb(24, 24, 24);
  }

  .header {
    background: #2f333a;
    color: white;
  }

  .items-table thead {
    background: #2c497f !important;
    color: white;
  }
  .totals {
    background-color: rgb(226, 223, 223);
  }
  .footer h4 {
    color: #2f333a;
  }
}

.scheme-magenta {
  .page,
  .page table {
    color: rgb(24, 24, 24);
  }

  .header {
    background: #d13e64;
    color: white;
  }

  .items-table thead {
    background: #e5446d !important;
    color: white;
  }
  .totals {
    background-color: #f9f7ea;
  }
  .footer h4 {
    color: #e5446d;
  }
}

.header {
  padding: 15mm;
}

.header-right {
  float: right;
}

.invoice-info {
  padding: 15mm;
  float: right;
}

.client-info {
  padding: 15mm;
  float: left;
}

.items-table {
  margin-top: 5mm;
}

.items-table thead th:first-child,
.table tbody td:first-child {
  padding-left: 15mm;
}
.items-table thead th:last-child,
.table tbody td:last-child {
  padding-right: 15mm;
}

.totals {
  margin-top: 15mm;
  padding-top: 5mm;
  padding-bottom: 2mm;
}

.totals table td:first-child {
  width: 100%;
}

.totals .table thead th:first-child,
.table tbody td:first-child {
  padding-left: 15mm;
}
.totals .table thead th:last-child,
.totals .table tbody td:last-child {
  padding-right: 15mm;
}

.totals table td:last-child {
  white-space: nowrap;
}

.totals td {
  border: 0;
}

.footer {
  width: 100%;
  padding: 15mm;
  position: absolute;
  bottom: 0;
}

.signature {
  float: right;
  padding-right: 15mm;
}