@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

body {
  background-color: grey;
  margin: 0;
  padding: 0;
  padding-top: 15mm;
}

@media print {
  * {
    box-shadow: none;
    -webkit-print-color-adjust: exact !important;
  }

  body,
  html {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .navbar,
  footer {
    display: none;
  }
}

.page {
  background: white;
  width: 210mm;
  height: 297mm;
  margin: auto;
  margin-top: 20mm;
  margin-bottom: 10mm;
  box-shadow: 10px 10px 0px 0px rgb(83, 83, 83);
  position: relative;
}

@media print {
  .page {
    margin: 0;
    padding: 0;
  }
}