<span *ngIf="!inputVisible" (click)="onClick($event)">{{ value }}</span>
<form [ngClass]="{'show-form': inputVisible}" (submit)="onSubmit($event)">
  <input type="text" [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
</form>