span {
    cursor: pointer;
}

form {
    display: none;
}

form.show-form {
    display: inline;
}

input {
    padding: 0;
    color: inherit;
    background: inherit;
    border: none;
    border-bottom: 1px grey dashed;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    width: inherit;
}
